body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.site {
  overflow: hidden;
}

.bg-blue {
  background-color: $primary;
}

.text-blue {
  color: $primary;
}

.avantages {
  p {
    &:first-child {
      > strong {
        color: $primary;
      }
    }
  }
}

.avis-wrap {
  background-color: $gray;

  .score {
    border-bottom: 6px solid $avis-border-color;
    margin-bottom: 0;

    p {
      align-items: center;
      display: flex;
      font-size: 13px;
      margin-bottom: 0;
    }
  }

  .avis-client {
    padding: 25px;
  }
}

.avis-author {
  color: #555;
  margin-top: 5px;
}

.avantages {
  font-size: 15px;
  
  p {
    font-weight: 600;
  }
}

.rester-en-securite {
  ul {
    list-style: {
      image: url('../images/check.png');
    }
    margin-bottom: 0;
  }
}

.avantage-item {
  .numero {
    border-radius: 50%;
    color: $white;
    font-weight: 700;
    height: 38px;
    line-height: 38px;
    width: 38px;

    + .elementor-text-editor {
      width: calc(100% - (38px + 15px));
    }
  }

  p {
    margin-bottom: 0;
    text-align: justify;
  }
}

.intervention {
  font-size: 20px;
  line-height: 25px;

  p {
    margin-bottom: 0;
  }
}

.atouts {
  font-size: 12px;
  line-height: 1.1;

  img {
    max-width: 67px;
  }

  .text {
    margin-top: 4px;
  }

  @include media-breakpoint-down(sm) {
    li {
      + li {
        margin-top: 20px;
      }
    }
  }
}

.soliloquy-container {
  max-width: 100% !important;
}

.elementor-slick-slider {
  ul.slick-dots {
    bottom: 16px;
    opacity: 0;
    transition: opacity .3s;
    z-index: 1;

    li {
      opacity: 0.8;

      &,
      button {
        height: 12px;
        width: 12px;
      }

      button {
        background-color: rgba(125, 125, 125, .5);

        &::before {
          display: none;
        }

        &:hover {
          background-color: rgb(125, 125, 125);
        }
      }

      + li {
        margin-left: 14px;
      }

      .slick-active {
        opacity: 1;
      }
    }
  }

  &:hover {
    ul.slick-dots {
      opacity: 1;
    }
  }
}

.modification-label {
  position: relative;
  
  .modification {
    bottom: 48px;
    z-index: 0;

    .text {
      background: rgba($primary, .5);
      color: $white;
      font-size: 16px;
      margin-left: 24px;
      padding: 10px 50px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.modal {
  padding-right: 0 !important;
}

@include media-breakpoint-up(lg) {
  .modal-lg, .modal-xl {
    max-width: calc(100% - 30px);
  }
}

// .elementor-column-gap-default>.elementor-row {
//   margin-left: -15px;
//   margin-right: -15px;

//   >.elementor-column {
//     padding-left: 15px;
//     padding-right: 15px;

//     >.elementor-element-populated {
//       padding-left: 0;
//       padding-right: 0;
//     }
//   }
// }
