.site-header {
  box-shadow: 0 0 3px 0 rgba($black, .2);
  margin-bottom: 20px;
  padding: 15px 0;

  a {
    text-decoration: none;
  }

  .phone {
    a {
      color: $secondary;
      font-family: Arial, sans-serif;
      font-size: 23px;
      font-weight: 700;

      span {
        margin-right: 5px;
      }
    }
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .custom-logo {
    max-width: 198px;
  }

  .call-img {
    max-width: 144px;
  }

  .phone {
    @include media-breakpoint-down(lg) {
      a {
        font-size: 18px;
      }
    }

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }
  }
}
